nav {
  background-color: #e7e7e7 !important;
}

.navbar-brand {
  margin-top: 10px;
  width: 120px;
  height: 80px !important;

}

ol, ul {
    list-style: none;
}
li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    color: #4682B4 !important;
}
a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #4682B4;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
  color: #4682B4 !important;
    background-color: #4682B4;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

li.item{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}