body{
	font-family: "Euroference";

}
@font-face{
	font-family: "Euroference";
	src:url('https://www.dafont.com/fr/eurofurence.font?fpp=50&a=on') format("eurof35.ttf");
}
#block-F{
	background-color: rgb(67,122,189);
	width:160px;
 	height:68px;
	-webkit-border-radius: 10px; 
	border-left: 4px black solid;
	border-top: 4px black solid;
	border-right: 4px black solid;
	border-bottom: 4px black solid;
	z-index:1;
}
#block_img{
	float:left;
	width:60px;
	height:60px;
}
#block_name_F{
	margin-left:60px;
	margin-top:-35px;
	float:right;
	width:105px;
	height:15px;

}

#block-20m{
	background-color: rgb(14,64,150);
	width:160px;
 	height:68px;
	-webkit-border-radius: 10px; 
	border-left: 4px black solid;
	border-top: 4px black solid;
	border-right: 4px black solid;
	border-bottom: 4px black solid;
	z-index:1;
}
#block_img_middle{
	margin-left:45px;
	width:60px;
	height:60px;
}

#block-Fem{
	background-color: rgb(27,31,43);
	width:160px;
 	height:68px;
	-webkit-border-radius: 10px; 
	border-left: 4px black solid;
	border-top: 4px black solid;
	border-right: 4px black solid;
	border-bottom: 4px black solid;
	z-index:1;
}

#block-D{
	background-color: white;
	width:160px;
 	height:68px;
	-webkit-border-radius: 10px; 
	border-left: 4px black solid;
	border-top: 4px black solid;
	border-right: 4px black solid;
	border-bottom: 4px black solid;
	z-index:1;
}

#block_name_D{
	margin-left:60px;
	margin-top:-43px;
	float:right;
	width:90px;
	height:30px;

}

#block-LP{
	background-color: rgb(171,0,0);
	width:160px;
 	height:68px;
	-webkit-border-radius: 10px; 
	border-left: 4px black solid;
	border-top: 4px black solid;
	border-right: 4px black solid;
	border-bottom: 4px black solid;
	z-index:1;
}

#block_name_LP{
	margin-left:60px;
	margin-top:-53px;
	float:right;
	width:90px;
	height:45px;

}

#block-Eq{
	background-color: white;
	width:160px;
 	height:68px;
	-webkit-border-radius: 10px; 
	border-left: 4px black solid;
	border-top: 4px black solid;
	border-right: 4px black solid;
	border-bottom: 4px black solid;
	z-index:1;
}

#block_name_Eq{
	margin-left:55px;
	margin-top:-40px;
	float:right;
	width:82px;
	height:19px;

}

#block-LG{
	background-color: rgb(21,44,86);
	width:160px;
 	height:68px;
	-webkit-border-radius: 10px; 
	border-left: 4px black solid;
	border-top: 4px black solid;
	border-right: 4px black solid;
	border-bottom: 4px black solid;
	z-index:1;
}

#block_name_LG{
	margin-left:60px;
	margin-top:-40px;
	float:right;
	width:82px;
	height:19px;

}

#block-LM{
	background-color: white;
	width:160px;
 	height:68px;
	-webkit-border-radius: 10px; 
	border-left: 4px black solid;
	border-top: 4px black solid;
	border-right: 4px black solid;
	border-bottom: 4px black solid;
	z-index:1;
}

#block-Lobs{
	background-color: rgb(224,0,27);
	width:160px;
 	height:68px;
	-webkit-border-radius: 10px; 
	border-left: 4px black solid;
	border-top: 4px black solid;
	border-right: 4px black solid;
	border-bottom: 4px black solid;
	z-index:1;
}
#block-SV{
	background-color: rgb(204,7,30);
	width:160px;
 	height:68px;
	-webkit-border-radius: 10px; 
	border-left: 4px black solid;
	border-top: 4px black solid;
	border-right: 4px black solid;
	border-bottom: 4px black solid;
	z-index:1;
}
