
.navbar-brand {
	background: url(https://raw.githubusercontent.com/ProjetSID2018/Groupe10_Qualite_communication/master/Logos/bleu.png) center / contain no-repeat;
	width: 200px;
  	height: 50px;
	padding: 10px; 
}

ul {
    border: 1px solid default;
    background-color: default;
}

li a {
    color: #666;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: Highlight;
}
